<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="http://localhost:38604/Storage/template/20170308/6362461201622490074579643.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_search">
                  <form action="/ProductList.aspx" method="get">
                <input type="text" name="keyWord" id="keyWord" value="" placeholder="输入目的地或关键字">
                <button type="submit"></button>
           </form>
            </section>
        </div>
    
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"></div>
        </div>
    